<section id='main'>
  <form action='/create' method='post'>

    <div>
      <label for='user-name'>Name:</label>
      <input type='text' name='name' id='user-name' size='40'>
    </div>

    <div>
      <label for='address'>Address:</label>
      <input type='text' name='address' id='address' size='40'>
    </div>

    <div>
      <label for='url'>URL:</label>
      <input type='text' name='url' id='url' size='40'>
    </div>

    <div>
      <label for='image'>Link to image:</label>
      <input type='text' name='image' id='image' size='40'>
    </div>

    <div>
      <label for='linkedin'>Linkedin:</label>
      <input type='text' name='linkedin' id='linkedin' size='40'>
    </div>

    <label for='Education' id='education'>Education Info:</label>
    <div class='form-item'>
      <textarea id='education' name='education' rows='10' cols='60'></textarea>
    </div>

    <label for='Work' id='work'>Work History:</label>
    <div class='form-item'>
      <textarea id='work' name='work' rows='10' cols='60'></textarea>
    </div>

    <input type='submit' value='Create Resume'>

  </form>