<html>

<head>
  <title>Resume Builder</title>
  <meta name='description' content='Resume Builder'>
  <meta name='keywords' content='Resume Builder'>
  <link rel='stylesheet' href='/stylesheet.css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <h1>|| Resume Builder ||</h1>
    <nav>
      <a href="/">Home</a>
      ||
      <a href='/create'>Build Your Resume</a>
    </nav>
    <br>
    <hr>
  </header>

  <%= yield %>

  <footer>

    <hr>
    Chris Yammine &copy; <%= Time.now.year %>

  </footer>

</body>

</html>