<section id='main'>
<h1>I like creating your Resume for you</h1>

<p>Use the <a href="/create">resume builder</a> to create your very own resume with custom url!</p>
<br>
<p>After creating a resume you can link it to people by appending the URL you specified to the site name.<br>Example: < http://www.resumebuilder.herokuapp.com/resume/URL ></p>
</section>