<section id='main'>
<h1>Resume created!</h1>
<p>Remember to write down your URL: <%= @url %></p>
<p>You can view your resume here <a href="/resume/<%= @url %>"><%= @name %>'s Resume</a></p>


</section>